<h3 class="orange-text bold">Nuevo libro</h3>
<form>
	{{input
		placeholder='Título'
		value=title
	}}
	{{textarea
		placeholder='Introduce una breve Sinopsis :D'
		class='materialize-textarea'
		value=description
	}}
	{{input
		placeholder='Introduce el año de publicación'
		value=year
		type=number
	}}
	{{input
		placeholder='Introduce la edición '
		value=edition
	}}
	{{input
		placeholder='Introduce el ISBN del libro'
		value=isbn
	}}
	{{input
		placeholder='Introduce la URL de la imagen de portada :d'
		value=isbn
	}}
	{{input
		placeholder='Si quieres registrar más de un ejemplar DO IT'
		value=copies
	}}
	<button class="btn waves-effect orange">Registrar!</button>
</form>