{{#each model.books as |book|}}
	{{book.name}}
	{{#each book.genres as |genre|}}
		{{genre.name}}
	{{/each}}
{{/each}}

{{input value=newName}}<br>
{{#each model.genres as |genre|}}
	<a {{action 'createBook' newName model.genres on='click'}}>{{genre.name}}</a> <br><br>
{{/each}}